<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;"> Simon Misrahi
      </ion-title>
      <div class="ion-padding">
          <ion-avatar
          class="avatar">
              <img src="https://scontent.fopo2-2.fna.fbcdn.net/v/t1.0-9/50472029_1502749366535283_7744550084569726976_o.jpg?_nc_cat=100&_nc_ht=scontent.fopo2-2.fna&oh=3b14cc85b8f60d47604c4852d42ec860&oe=5D5B2FB1">
            </ion-avatar>
      </div>
    </ion-toolbar>
     <ion-list>
      <ion-item>
        <ion-label>First Name</ion-label>
        Simon
      </ion-item>
        <ion-item>
      <ion-label>Last Name</ion-label>
        Misrahi
      </ion-item>
      <ion-item>
      <ion-label>School</ion-label>
          New York University
      </ion-item>
      <ion-item>
      <ion-label>Major</ion-label>
          Computer Science and Economics
      </ion-item>
      <ion-item>
      <ion-label>Date of Birth</ion-label>
          <ion-datetime
            disabled
            displayFormat="MM/DD/YYYY"
            [(ngModel)]="myDateOfBirth"
          ></ion-datetime>
        </ion-item>
      </ion-list>

<ion-content>

</ion-content>
