<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <h2 style="text-align:center">Login with Social Media or Manually</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a href="#" class="google btn">
          <i class="fa fa-google fa-fw"></i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <ion-item>
          <label> Email </label>
          <ion-input [(ngModel)] = "this.email" name = "email" ></ion-input>
        </ion-item>

        <ion-item>
          <label> Password </label>
          <ion-input [(ngModel)] = "this.password" name = "password" ></ion-input>
        </ion-item>

        
        <ion-button size="large" (click)="navToLogin()" expand="block">Login</ion-button>
        <ion-button size="large" (click)="navToRegister()" expand="block">Register</ion-button>
      </div>
    </div>
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>

      
        
 


    

        
        
  
