<ion-header>
  <ion-toolbar>
    <ion-title>Rental Trips</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
    <ion-card-header>
      <ion-card-title>No upcoming trips</ion-card-title>
      <ion-card-subtitle>If you will like to find some homes, clock explore</ion-card-subtitle>
      </ion-card-header>
  
    <ion-card-content>
            <ion-button size="large" (click)="navToExplore()" expand="block">Back to Explore</ion-button>
    </ion-card-content>
</ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Your Most Recent Trip</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
              <ion-avatar
                class="avatar">
                  <img src="https://i.ytimg.com/vi/fqFaO8HeHMk/maxresdefault.jpg">
              </ion-avatar>
                  <p>Price: $3500 a week</p>
                  <p>Owner: John Doe</p>
                  <p>Stay: 2 weeks</p>
                  <p>Destination: Maldives</p>
      </ion-card-content>
  </ion-card>
  
<ion-content>

</ion-content>
